<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>银行服务首页</title>
    {include file="public/meta"}
    <style>
        .fina-threes .thumbnail {
            box-shadow: 3px 3px 3px #ececf0;
            width: 100%;
            line-height: 28px;
            background: #3499f5;
            color: #fff;
        }
    </style>
</head>
<body>

<div class="container-fluid finance-body" style="padding-bottom:50px;">

    <div class="row hui-header">
        <div class="col-xs-12">
            <div style="width:100%;height: 55px;background: url('/static/images/xslogin.jpg')no-repeat center top;background-size: 100%;"></div>
        </div>
    </div>
    <div class="row fina-ones">
        <a href="http://www.zgxmall.com/cwap/">
            <img style="width:100%;" src="/static/images/xgkh_banner.jpg" alt="">
        </a>
    </div>

    <div class="row fina-toos">
        <div class="col-xs-12">
            <p class="hui-mina mt-10 text-c">平安数字金融</p>
            <div class="col-xs-6">
                <p>1、条件低  </p>
            </div>
            <div class="col-xs-6">
                <p>2、贷款金额高</p>
            </div>
            <div class="col-xs-6">
                <p>3、审核速度快</p>
            </div>
            <div class="col-xs-6">
                <p>4、放款迅速</p>
            </div>
        </div>

    </div>

    <div class="row fina-threes text-c">
        <p class="hui-mina mt-10 text-c" style="font-size: 1.2rem;line-height: 28px;font-weight:600"> 平安金融贷</p>
        <div class="col-xs-6 mt-15">
            <a href="{:url('Index/hongk')}">
                <div class="thumbnail">
                    <p class="min-a">平台大</p>
                </div>
            </a>
        </div>
        <div class="col-xs-6 mt-15">
            <a href="{:url('Index/hongk')}">
                <div class="thumbnail">
                    <p class="min-a">贷款方式多</p>
                </div>
            </a>
        </div>
        <div class="col-xs-6 mt-15">
            <a href="{:url('Index/hongk')}">
                <div class="thumbnail">
                    <p class="min-a">安全保障</p>
                </div>
            </a>
        </div>
        <div class="col-xs-6 mt-15">
            <a href="{:url('Index/hongk')}">
                <div class="thumbnail">
                    <p class="min-a">资金实力雄厚 </p>
                </div>
            </a>
        </div>
    </div>

    <div class="row fina-ones text-c mt-15">
        <div class="col-xs-6">
            <a href="https://zgxjt.udesk.cn/im_client/?web_plugin_id=44253" class="btn btn-default  radius">点击咨询</a>
        </div>
        <div class="col-xs-6">
            <a href="{:url('Index/hongk')}" class="btn  btn-danger radius">立即办理</a>
        </div>
    </div>

</div>

{include file="public/button"}


</body>
</html>