<div class="row hui-ones text-c">
    <div class="col-xs-6 ">
        <div class="thumbnail">
            <a class="btn btn-primary radius box-shadow hongk" href="{:url('Index/hongk')}">香港公司注册</a>
        </div>
    </div>
    <div class="col-xs-6">
        <div class="thumbnail">
            <a class="btn btn-primary radius box-shadow hkcompany" href="{:url('Index/hkcompany')}">经营范围</a>
        </div>
    </div>
    <div class="col-xs-6">
        <div class="thumbnail">
            <a class="btn btn-primary radius box-shadow hkpersonal" href="{:url('Index/hkpersonal')}">水牌展示</a>
        </div>
    </div>
    <div class="col-xs-6">
        <div class="thumbnail">
            <a class="btn btn-primary radius box-shadow scr_remarks" href="{:url('Index/scr_remarks')}">SCR备存</a>
        </div>
    </div>
</div>