<style>
    .details-body .hui-ones .thumbnail .btn-primary {
        height:60px;
        min-width:155px;
    }
</style>
<div class="row hui-ones text-c">
    <div class="col-xs-6 ">
        <div class="thumbnail">
            <a class="btn btn-primary radius box-shadow hongk" href="{:url('Jindex/hongk')}">税企贷<br>（互联网信用贷款）</a>
        </div>
    </div>
    <div class="col-xs-6">
        <div class="thumbnail">
            <a class="btn btn-primary radius box-shadow hkcompany" href="{:url('Jindex/hkcompany')}">发票贷<br>（增值税发票贷）</a>
        </div>
    </div>
    <div class="col-xs-6">
        <div class="thumbnail">
            <a class="btn btn-primary radius box-shadow hkpersonal" href="{:url('Jindex/hkpersonal')}">产业链融资<br>（客户交易数据贷）</a>
        </div>
    </div>
    <div class="col-xs-6">
        <div class="thumbnail">
            <a style="line-height:45px;" class="btn btn-primary radius box-shadow scr_remarks" href="{:url('Jindex/scr_remarks')}">更多<br>&nbsp;</a>
        </div>
    </div>
</div>